USE [master]
GO
/****** Object:  Database [SocialDB]    Script Date: 8/17/2023 4:25:09 PM ******/
CREATE DATABASE [SocialDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SocialDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SocialDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SocialDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\SocialDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SocialDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SocialDB]
GO
/****** Object:  Table [dbo].[friendlist]    Script Date: 8/17/2023 4:25:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[friendlist](
	[username] [varchar](50) NOT NULL,
	[friends] [varchar](50) NOT NULL,
	[friendsfn] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message]    Script Date: 8/17/2023 4:25:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message](
	[chat_id] [int] IDENTITY(1,1) NOT NULL,
	[sender] [varchar](50) NULL,
	[receiver] [varchar](50) NULL,
	[msg] [varchar](200) NOT NULL,
	[chattime] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chat_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[posts]    Script Date: 8/17/2023 4:25:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[posts](
	[post_id] [int] IDENTITY(1,18) NOT NULL,
	[user_id] [varchar](50) NULL,
	[body] [varchar](500) NOT NULL,
	[timeposted] [datetime] NULL,
 CONSTRAINT [PK_posts] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[requests]    Script Date: 8/17/2023 4:25:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[requests](
	[SenderID] [varchar](50) NOT NULL,
	[ReceiverID] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 8/17/2023 4:25:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](50) NOT NULL,
	[lastname] [varchar](50) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[profilepic] [varchar](max) NULL,
 CONSTRAINT [PK_usertable] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[message] ADD  DEFAULT (getdate()) FOR [chattime]
GO
ALTER TABLE [dbo].[posts] ADD  DEFAULT (getdate()) FOR [timeposted]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ('https://p16-va-tiktok.ibyteimg.com/img/musically-maliva-obj/1663249196195846~c5_720x720.jpeg') FOR [profilepic]
GO
USE [master]
GO
